@model RedCloud.ViewModel.OrganizationUserVM;






<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Create Organization Admin</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="AddOrganizationUser" asp-controller="OrganizationUser" method="post" id="user-query-form">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="OrganizationUserFirstName">First Name</label>
                                        <input asp-for="OrganizationUserFirstName" class="form-control" id="OrgName" placeholder="Enter organization name">
                                        <span asp-validation-for="OrganizationUserFirstName" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <label for="OrgAdminName">Last Name</label>
                                        <input asp-for="OrganizationUserLastName" class="form-control" id="OrgAdminName" placeholder="Enter admin name">
                                        <span asp-validation-for="OrganizationUserLastName" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label for="OrganizationUserEmail">Email</label>
                                        <input asp-for="OrganizationUserEmail" class="form-control" id="EIN" placeholder="Enter EIN Number">
                                        <span asp-validation-for="OrganizationUserEmail" class="text-danger"></span>
                                    </div>

                                    @* <input type="password" asp-for="OrganizationUserPassword" value="abcd" hidden /> *@

                                    <input type="number" asp-for="OrganizationAdminId" value="1" hidden />

                                    
                              

                                    @*      <div class="modal-box">
                                    <div class="sd-multiSelect form-group">
                                    <label for="current-job-role">Multi Select</label>
                                    <select multiple id="current-job-role" class="sd-CustomSelect">
                                    <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option>
                                    <option value="4">Option 4</option>
                                    </select>
                                    </div>
                                    </div> *@





                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="btn btn-primary ml-3" style="float:right; margin-right:20px; margin-bottom:20px;background-color:grey; border:none; width: 100px;"
                               asp-action="ViewOrganizationAdmin" asp-controller="OrganizationAdmin">Back</a>
                            <button type="submit" class="btn btn-primary ml-3" style="float:right; margin-bottom:20px; width: 100px;">Create</button>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>




</body>






}


