
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@







@model IEnumerable<RedCloud.Models.CountryVM>
<label for="countryDropDown" class="dropdown">Country</label>
<select id="countryDropDown" name="CountryId" class="dropdown">
    <option value="">Select a country</option>
 @foreach (var country in Model)
    {
        <option value="@country.CountryId">@country.Name</option>
    }

</select>




