@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Sidebar -->

<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item" style="border-bottom:2px solid white">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item" style="border-bottom:2px solid white">
                <a  class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Organization</p>
                </a>
            </li>
            <li class="nav-item" style="border-bottom:2px solid white">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Reseller User</p>
                </a>
            </li>
            <li class="nav-item" style="border-bottom:2px solid white">
                <a asp-action="ListRate" asp-controller="ResellerAssignCredit" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Assign Credit</p>
                </a>
            </li>
            <li class="nav-item" style="border-bottom:2px solid white">
                <a asp-controller="ReportDashboard" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Reports</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    }
</div>
<!-- /.sidebar -->
