@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Sidebar -->

<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item" style="border-bottom:2px solid white">
                <a href="/index3.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item menu-open" style="border-bottom:2px solid white">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Manage User
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-action="ViewallRedCloudAdmin" asp-controller="RedCloudAdmin" class="nav-link ">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Red Cloud Admin</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Reseller</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ViewOrganizationAdmin" asp-controller="OrganizationAdmin" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Manage Organization</p>
                        </a>
                    </li>
                </ul>
            </li>
            @* <li class="nav-item" style="border-bottom:2px solid white">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Rate</p>
                </a>
            </li> *@
            <li class="nav-item" style="border-bottom:2px solid white">
                <a asp-controller="Rate" asp-action="ViewAllRates" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Rate</p>
                </a>
            </li>
            <li class="nav-item" style="border-bottom:2px solid white">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Manage Mobile Number</p>
                </a>
            </li>

            <li class="nav-item" style="border-bottom:2px solid white">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Campaign Registry Management</p>
                </a>
            </li>

            <li class="nav-item" style="border-bottom:2px solid white">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Audit Log</p>
                </a>
            </li>
            <li class="nav-item" style="border-bottom:2px solid white">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Reports</p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    }
</div>
<!-- /.sidebar -->  